.interstellarium-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interstellarium-goto-dashboard {
    font-family: var(--interstellarium-base-font-family), sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interstellarium-logo {
    font-family: var(--interstellarium-special-font-family), sans-serif;
    font-size: 8vw;
    font-weight: 900;
    text-align: center;
    background: var(--interstellarium-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--interstellarium-primary);
}

.interstellarium-goto-dashboard-link {
    font-size: 4vw;
    text-decoration: none;
    text-align: center;
    color: var(--interstellarium-dark)
}

.interstellarium-goto-dashboard-link:hover {
    color: var(--interstellarium-tertiary);
}

@media (min-width: 576px) {
    .interstellarium-goto-dashboard-link {
        font-size: 3vw;
    }
}

@media (min-width: 768px) {
    .interstellarium-goto-dashboard-link {
        font-size: 2.5vw;
    }
}

@media (min-width: 992px) {
    .interstellarium-goto-dashboard-link {
        font-size: 2vw;
    }
}

@media (min-width: 1200px) {
}
