.interstellarium-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interstellarium-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.interstellarium-login-picture-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 2rem;
}

.interstellarium-login-picture {
    width: 60%;
}

.interstellarium-login-form-wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-interstellarium,
.btn-interstellarium:hover,
.btn-interstellarium:active,
.btn-interstellarium:focus-visible {
    background: var(--interstellarium-gradient);
    color: #FFFFFF !important;
    font-family: var(--interstellarium-base-font-family), sans-serif;
    outline: none;
}

.interstellarium-login-form-header {
    font-family: var(--interstellarium-special-font-family), sans-serif;
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
    background: var(--interstellarium-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--interstellarium-primary);
}

@media (min-width: 576px) {
    .interstellarium-login-form input {
        font-size: 1.25rem;
    }

    .interstellarium-login {
        width: 75%;
    }

    .interstellarium-login-form-header {
        font-size: 4vw;
    }
}

@media (min-width: 768px) {
    .interstellarium-login-picture-wrapper {
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .interstellarium-login-form-header {
        font-size: 3vw;
    }
}

@media (min-width: 992px) {
    .interstellarium-login-picture-wrapper {
        padding: 4rem;
    }
}

@media (min-width: 1200px) {
    .interstellarium-login-picture-wrapper {
        padding: 3rem;
    }
}
