{% extends "base.html" %}

{% block title %}
    Dashboard | Interstellarium
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="interstellarium-container">
        <div class="interstellarium-dashboard">
            <div class="interstellarium-dashboard-header">
                <div class="interstellarium-dashboard-logo-wrapper">
                    <div class="interstellarium-dashboard-logo m-2">
                        INTERSTELLARIUM
                    </div>
                </div>
                <div class="interstellarium-dashboard-nav my-2">
                </div>
            </div>
            <div class="interstellarium-dashboard-content row">
                <div class="interstellarium-dashboard-section col-12 col-sm-9 col-md-6 col-lg-4"></div>
                <div class="interstellarium-dashboard-section col-12 col-sm-9 col-md-6 col-lg-4"></div>
                <div class="interstellarium-dashboard-section col-12 col-sm-9 col-md-6 col-lg-4"></div>
                <div class="interstellarium-dashboard-section col-12 col-sm-9 col-md-6 col-lg-4"></div>
                <div class="interstellarium-dashboard-section col-12 col-sm-9 col-md-6 col-lg-4"></div>
                <div class="interstellarium-dashboard-section col-12 col-sm-9 col-md-6 col-lg-4"></div>
                <div class="interstellarium-dashboard-section col-12 col-sm-9 col-md-6 col-lg-4"></div>
            </div>
            <div class="interstellarium-dashboard-footer mb-4">

            </div>
        </div>

    </div>
{% endblock %}
