{% extends "base.html" %}

{% block metatags %}
    <meta name="description" content="Interstellarium - разработка космических проектов">
{% endblock %}

{% block title %}
    Interstellarium
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="interstellarium-container">
        <div class="interstellarium-index-hero">
            <div class="interstellarium-logo mb-3">INTERSTELLARIUM</div>
            <div class="interstellarium-goto-dashboard">
                <a href="{{ url_for('login') }}" class="interstellarium-goto-dashboard-link">
                    ВОЙТИ В СИСТЕМУ
                </a>
            </div>
        </div>
    </div>
{% endblock %}
