{% extends "base.html" %}

{% block title %}
    Авторизация
{% endblock %}

{% block styles %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <form id="login-form" action="" method="post" autocomplete=off>
        {{ form.csrf_token() }}
        <br>
        <div class="row">
            <div class="col-12">
                {{ form.email(class="form-control", type="email", placeholder="E-mail") }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            {{ form.submit(type="submit", class="btn btn-dark rounded-pill fw-bold px-3", id="btn-send-feedback", value="Отправить") }}
        </div>
    </form>
{% endblock %}
